body {
    background-color: antiquewhite;

}

header {
    text-align: center;
    font-size: xx-large;
    text-shadow: 4px 4px 5px white;
}

img {
    width: 800px;
}

.steps {
    width: 800px;
    border-bottom: solid darkgoldenrod;
    margin: 10px 10px
}